body{
  background-color: aqua;
}

#leaflet-image-layer {
  width: 100px;
  height: 100px;
}

#title{
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  background-color: #04aa6d33;
  color: #f4faf8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-right: 700px;
}
/*
 a{
  font-size: 30px;
} 
*/

.linkText{
  font-size: 30px;
}
footer {
  font-size:20px;
  position: absolute;
  bottom: 10px;

}

#map { height: 500px; }



.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#flex-item{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  box-sizing: border-box;
  
  justify-content: center;
}



/* year slider */
.slidecontainer{
width: 20%;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#yearSelect{
  margin-left: 0px ;
  font-family: Helvetica, sans-serif;
  font-size: larger;
  background-color: #04aa6d9d;
  color: #f4faf8;
  padding-left: 200px;
  padding-right: 200px;

}


/*location input box*/



/*
.input-box{
  display: flex;
  flex-wrap: wrap;
}

#fname{
  margin-left: 1000px;
}
#location{
  margin-left: 1000px;
}

input[type=text]{
  width: 200px;
  margin-left: 1000px;
  
} 

*/

